/* CSS Reset by Eric Meyer */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* End CSS Reset */

body {
    font-family: "Rhodium Libre";
}

/* CSS for Home */
#picture-me{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);	
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:hover > div.big-button > h1.title {
	text-decoration: underline;
	font-size:55px;
}

a:hover > div#button-about {
	background-image: url('/static/images/about.jpg');
}

a:hover > div#button-skills {
	background-image: url('/static/images/skills.jpg');
}

a:hover > div#button-experiences {
	background-image: url('/static/images/experiences.jpeg');
}

a:hover > div#button-contact {
	background-image: url('/static/images/contact.jpg');
}

a:active {
    text-decoration: none;
}

.container-home{
	display:grid;
	grid-template-columns: 1fr 1fr;
}

.big-button {
	height: 320px;
	background-color: black;
	border: solid white;
	margin: 0;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.7);
	padding-top:110px;
}

.parent {
	position: relative;
	height:100%;
  }
  
.child {
	position: absolute;
  
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
  
	margin: auto;
	z-index:1001;
}

/* End CSS for Home */

.picture {
	width:250px;
	height: 250px;
	margin-top: 100px;
}

.row {
	height:700px;
	color: black;
}

.my-logo{
	width: 150px;
	height: 150px;
}

.my-home {
	height: 35px;
	width: 35px;
}

.my-nav {
	background: #1A1515;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.7);
	font-family: Rhodium Libre;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	align-items: center;
	text-align: center;
	color: #FFFDFD;
}

.my-row{
	align-items: center;
	justify-content: center;
}

.my-container {
	background-color: black;
}

.content {
	background-color: white;
	color: black;
}

.title {
	font-family: Rhodium Libre;
	font-weight: 600;
	font-size: 50px;
	color: #FFFDFD;
}

.my-description{
	width: 630px;
	height: 250px;
	background: rgba(0, 0, 0, 0.08);
	border-radius: 64px;
	padding:10px;
	color: #000000;
}

.my-schedule{
	width: 630px;
	height: 220px;
	background: rgba(1, 1, 1, 1);
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.7);
	border-radius: 64px;
	border: solid white;
	padding:10px;
	color: white;
}

.my-name{
	font-family: Rhodium Libre;
	font-style: normal;
	font-weight: 550;
	font-size: 40px;
	line-height: 85px;
}

.my-skill-box{
	margin-top:60px;
	width: 630px;
	height: 250px;
	background: black;
	border-radius: 64px;
	padding:10px;
	color: white;
}

.my-experience-box{
	margin-top:60px;
	width: 600px;
	height: 250px;
	background: black;
	border-radius: 64px;
	padding:10px;
	color: white;
}

.my-title{
	font-family: Rhodium Libre;
	font-size: 25px;
	line-height: 51px;
	border-bottom-color: white;
	border-bottom: solid;
}

.jumbotron-fluid {
	background-image: url('/static/images/background.jpg');
	background-size: cover;
}

#schedule{
	background-image: url('/static/images/bg-pattern.png')
}

#my-schedule-page{
	height: 2048px;
}