<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Website Logo -->
    <link rel="icon" type="image/png" href="{% static 'images/logo.png' %}">

    <title>Ali Irsyaad | Profile Website</title>
  </head>
  <body>
    <a href="{% url 'comingsoon' %}"><img id="picture-me" src="{% static 'images/me.png' %}" class="rounded picture mt-0" ></a>
    <div class="container-home">
            <a href="{% url 'about' %}">
                <div class="big-button" id="button-about">
                    <h1 class="title text-center">ABOUT</h1>
                </div>
            </a>
            <a href="{% url 'skills' %}">
                <div class="big-button" id="button-skills">
                    <h1 class="title text-center">SKILLS</h1>
                </div>
            </a>
            <a href="{% url 'experiences' %}">
                <div class="big-button" id="button-experiences">
                    <h1 class="title text-center">EXPERIENCES</h1>
                </div>
            </a>
            <a href="{% url 'contact' %}">
                <div class="big-button" id="button-contact">
                    <h1 class="title text-center" >CONTACT</h1>
                </div>
            </a>
    </div>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>