<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Website Logo -->
    <link rel="icon" type="image/png" href="{% static 'images/logo.png' %}">

    <title>Ali Irsyaad | Profile Website</title>
  </head>
  <body id="schedule">
    <div class="container">
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark my-nav">
            <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/home.png' %}" class="rounded my-home"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav mx-auto">
                    <a class="nav-item nav-link mx-5" href="{% url 'about' %}">About</a>
                    <a class="nav-item nav-link mx-5" href="{% url 'skills' %}">Skills</a>
                    <a class="nav-item nav-link mx-5" href="{% url 'experiences' %}">Experiences</a>
                    <a class="nav-item nav-link mx-5" href="{% url 'contact' %}">Contact</a>
                    <a class="nav-item nav-link mx-5 active" href="#">Schedule</a>
                    <a class="nav-item nav-link mx-5" href="{% url 'comingsoon' %}">Coming Soon</a>
                </div>
            </div> 
        </nav>
    </div>
    <br><br><br><br><br><br><br><br>
    <div class="container backforms">
        <h1 class="my-name text-center">Create Schedule</h1>
        <form class="css" action="{% url 'schedule_create' %}" method="post">
            {% csrf_token %}
            <div class="form-row">
                <div class="col-sm-1"></div>
                <div class="form-group col-sm-10">
                    {% for fields in form %}
                        {{ fields.label_tag }}
                        <br>
                        {{ fields }}
                    {% endfor %}
                </div>
            </div>
            <div class="form-row">
                <div class="col-sm-1"></div>
                <input type="submit" class="btn btn-primary float-right" value="Add">
            
            </form>     
        </div>        
    </div>
    
        
   
    

   
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>